@using DataAccess.Entities;
@model List<Product>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string productImagePlaceholder = @"https://t3.ftcdn.net/jpg/04/34/72/82/360_F_434728286_OWQQvAFoXZLdGHlObozsolNeuSxhpr84.jpg";
}

<div class="container">
    @if (Model.Any())
    {
        <h3>Count product: @Model.Count()</h3>
        <div class="row">
            <div class="col-1 m-3">
                <a asp-controller="Product" asp-action="Create" class="btn btn-primary">Create</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Description</th>
                        <th scope="col">Operations</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Model)
                    {
                        <tr>
                            <th scope="row">@product.Id</th>
                            <td>
                                <img src="@(product.ImagePath??productImagePlaceholder)" class="card-img-top w-25" alt="...">
                            </td>
                            <td>@product.Name</td>
                            <td>@product.Price</td>
                            <td>@product.Category?.Name</td>
                            <td>
                                <div class="d-flex justify-content-evenly">
                                    <a asp-controller="Product" asp-action="Details" asp-route-id=@product.Id asp-route-returnUrl="@Context.Request.Path" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover me-2">
                                        Details
                                    </a>
                                    <a asp-controller="Product" asp-action="Edit" asp-route-id=@product.Id class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover me-2">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                    <a asp-controller="Product" asp-action="Delete" asp-route-id=@product.Id class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover me-2">
                                        <i class="bi bi-trash-fill"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <h3>Products was not found...</h3>
    }
</div>